<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application-vue' %>
  <%= stylesheet_pack_tag 'application-vue' %>

  <%= favicon_link_tag asset_path 'bell-96x96.png' %>

  <link rel="manifest" href="/manifest.json"/>
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script
    src="https://tapir.bbseuranta.fi/script.js"
    data-site="FPDMLQFM"
    data-spa="auto"
    data-excluded-domains="localhost"
    defer
  ></script>

  <title>bbseuranta.fi | Kun haluat nähdä ne mehukkaimmat hetket livenä.</title>
  <meta property="og:title" content="bbseuranta.fi | Kun haluat nähdä ne mehukkaimmat hetket livenä.">

  <meta name="description" content="Näe ja koe BB:n parhaat hetket livenä. Vastaanota ilmoitus, kun jotain mehukasta tapahtuu. Näitkö jotain kiinnostavaa? Vinkkaa siitä myös muille!">
  <meta property="og:description" content="Näe ja koe BB:n parhaat hetket livenä. Vastaanota ilmoitus, kun jotain mehukasta tapahtuu. Näitkö jotain kiinnostavaa? Vinkkaa siitä myös muille!">

  <meta property="og:image" content="<%= asset_path 'bell-512x512.png' %>">
  <meta property="og:url" content="https://bbseuranta.fi">
  <meta property="og:site_name" content="bbseuranta.fi | Kun haluat nähdä ne mehukkaimmat hetket livenä.">

</head>
<body>

  <div id="app"/>

</body>
</html>
