<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div
      style="
        max-width: 400px;
        margin: 0 auto;
      "
    >
      <%= yield %>

      <div>
        Ystävällisin terveisin,
        <br>
        <a
          href="<%= @user_link %>"
          target="_blank"
        >bbseuranta.fi</a>
      </div>

      <div
        style="margin-top: 16px;"
      >
        Ps. Muistathan myös itse
        <a
          href="<%= @user_link %>"
          target="_blank"
        >vinkata</a>, jos näet jotain mehukasta katsottavaa!
      </div>

      <hr
        style="margin: 24px 0;"
      >

      <div>

        <h2>
          Miksi sain tämän ilmoituksen?
        </h2>

        <p>
          Olet pyytänyt
          <a href="<%= @user_link %>" target="_blank">bbseuranta.fi</a>:tä lähettämään ilmoituksen,
          <br>
          kun BB-talossa tapahtuu.
        </p>
      </div>

      <div>
        <button
          style="
          padding: 0;
            background-color: transparent;
            border: none;
          "
        >
          <a
            href="<%= @user_link %>"
            target="_blank"
            style="
            text-decoration: none;
              color: red;
              display: block;
            "
          >
            Poista ilmoitukset käytöstä
          </a>
        </button>
      </div>

      <hr
        style="margin: 24px 0;"
      >

      <footer
        style="
          font-size: 12px;
        "
      >
        Haluatko lähettää palautetta? Laita mailia
        osoitteeseen <a href="mailto:palaute@bbseuranta.fi">palaute@bbseuranta.fi</a>
      </footer>
    </div>
  </body>
</html>
